.popup-erro,
.popup-valid {
  position: fixed;
  top: 70px;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
  border-radius: 70px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px 40px;
  text-align: center;
  line-height: 1.2;
  z-index: 15;

  animation: toBottom 0.3s forwards;
}

.popup-erro {
  background-color: #ff1717;
  -webkit-box-shadow: 3px 11px 62px -10px rgba(222, 44, 44, 0.61);
  -moz-box-shadow: 3px 11px 62px -10px rgba(222, 44, 44, 0.61);
  box-shadow: 3px 11px 62px -10px rgba(222, 44, 44, 0.61);
}

.popup-valid {
  background-color: #25da25;
  -webkit-box-shadow: 3px 11px 62px -10px rgba(44, 222, 59, 0.61);
  -moz-box-shadow: 3px 11px 62px -10px rgba(44, 222, 53, 0.61);
  box-shadow: 3px 11px 62px -10px rgba(44, 222, 53, 0.61);
}

@keyframes toBottom {
  0% {
    opacity: 0;
    top: -50px;
  }
  100% {
    opacity: 1;
    top: 70px;
  }
}

@media (max-width: 768px) {
  .popup-erro {
    height: 70px;
    width: 325px;
    font-size: 0.9rem;
    padding: 15px;
  }
}
